<meta charset="UTF-8">
<title>EJS Is Fun</title>
<link rel="stylesheet" href="/styles/partials.css">
<link rel="stylesheet" href="/styles/rarity.css">
<link rel="stylesheet" href="/styles/character-icon.css">

<style>
    body {
        background-color: #3b4354;
    }
    *{
        margin:0;
        box-sizing: border-box;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-decoration: none;
    }
</style>